#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
}

nav li {
  cursor: pointer;
  padding: 10px;
  color: white;
}

nav li.active {
  background-color: #555;
}

.form-container {
  margin-top: 20px;
}

.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input, select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
  border: 1px solid gray;
}

/* Navbar Styles */
.navbar {
  padding: 5px 0; /* Adjusted padding */
  position: fixed; /* Fixed positioning */
  width: 50%; /* 50% width */
  top: 10px; /* Align to the top */
  left: 50%; /* Move left edge to the middle */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center; /* Center align text */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.navbar li {
  cursor: pointer;
  padding: 5px 10px; /* Adjusted padding */
  color: blueviolet;
}

.navbar li

.navbar li.active {
  background-color: #555;
}

.trace-list {
  list-style-type: none;
  padding: 0;
}

.trace-list li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

.trace-list ul {
  list-style-type: none;
  padding-left: 0;
}

.product-data {
  list-style-type: none;
  padding: 0;
}